@font-face {
  font-family: 'Logical';
  src: url('fonts/Logical-Regular.eot');
  src: url('fonts/Logical-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/Logical-Regular.woff2') format('woff2'), url('fonts/Logical-Regular.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Logical';
  src: url('fonts/Logical-Bold.eot');
  src: url('fonts/Logical-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/Logical-Bold.woff2') format('woff2'),
    url('fonts/Logical-Bold.woff') format('woff');
  font-weight: bold;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Logical';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  background-color: #f7f7f7;
  font-size: 14px;
}

ol,
ul {
  list-style: none;
  margin: 0;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:focus {
  outline: 0;
}

.hidden {
  display: none !important;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

textarea {
  padding: 10px;
}

button,
[role='button'] {
  cursor: pointer;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.styled-scrollbar::-webkit-scrollbar {
  display: block;
  -webkit-appearance: none;
  width: 6px;
}
.styled-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #cccccc;
}
.styled-scrollbar::-webkit-scrollbar-track-piece {
  border-radius: 4px;
  background-color: #eaeaea;
}
